ADMIN_API_KEY=YourAdminApiKeyHere
ALLOWED_ORIGIN=http://localhost:5173
API_DOMAIN=https://your-backend-domain.com/
AWS_ID=YourAWSAccessKeyId
AWS_KEY=YourAWSSecretKey
BUCKET=your-s3-bucket-name
CLIENT_DOMAIN=http://your-frontend-domain.com
CLIENT_URL=http://localhost:5173
DLG_PROD_CLUSTER_LOGIN=YourDbLogin
DLG_PROD_CLUSTER_PASS=YourDbPassword
EMAIL=your-email@example.com
GMAIL_PASS=your-gmail-app-password
JWT_SECRET=YourJwtSecretHere
MONGO_CONFIG_PROD_URL=mongodb+srv://YourDbLogin:YourDbPassword@yourcluster.mongodb.net/yourdbname
MONGO_CONFIG_URL=mongodb+srv://YourDbLogin:YourDbPassword@yourcluster.mongodb.net/yourdbname
MONGO_URI=mongodb+srv://YourDbLogin:YourDbPassword@yourcluster.mongodb.net/yourdbname
NODE_ENV=development
PORT=3001
USER_API_KEY=YourUserApiKey
