ADMIN_API_KEY=YourAdminApiKeyHere
API_DOMAIN=https://your-backend-domain.com/
AWS_ID=YourAWSAccessKeyId
AWS_KEY=YourAWSSecretKey
BUCKET=your-s3-bucket-name
CLIENT_DOMAIN=http://your-frontend-domain.com
DLG_PROD_CLUSTER_LOGIN=YourDbLogin
DLG_PROD_CLUSTER_PASS=YourDbPassword
EMAIL=your-email@example.com
GMAIL_PASS=your-gmail-password
MONGO_CONFIG_PROD_URL=mongodb+srv://YourDbLogin:YourDbPassword@yourcluster.mongodb.net/yourdbname
MONGO_CONFIG_URL=mongodb+srv://YourDbLogin:YourDbPassword@yourcluster.mongodb.net/yourdbname
USER_API_KEY=YourUserApiKey
