ADMIN_API_KEY=YourAdminApiKeyHere
ALLOWED_ORIGIN=http://localhost:5173
AWS_ID=YourAWSAccessKeyId
AWS_KEY=YourAWSSecretKey
AWS_REGION=us-east-1
BUCKET=your-s3-bucket-name
CLIENT_URL=http://localhost:5173
RESEND_API_KEY=YourResendApiKeyHere
RESEND_FROM_EMAIL=onboarding@resend.dev
JWT_SECRET=YourJwtSecretHere
MONGO_URI=mongodb://localhost:27017/dlg-dev
NODE_ENV=development
PORT=3001
USER_API_KEY=YourUserApiKey
SEED_ADMIN_PASSWORD=your_admin_password_here
